version: '3'

services:
  web:
    build: .
    # command: gunicorn --timeout 120 --workers 4 --bind 0.0.0.0:9000 extractor_project.wsgi:application # Updated to use gunicorn for production
    command: ./start.sh
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
    ports:
      - "9000:9000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DJANGO_SETTINGS_MODULE=extractor_project.settings  # Updated to production settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - DATABASE_URL=postgres://extractor_user:strongpassword123@db:5432/extractor_db
    restart: unless-stopped

  celery:
    build: .
    command: celery -A extractor_project worker -l INFO
    volumes:
      - .:/code
    depends_on:
      web:
        condition: service_started
      redis:
        condition: service_started
      db:
        condition: service_healthy
    environment:
      - DJANGO_SETTINGS_MODULE=extractor_project.settings  # Updated to production settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - DATABASE_URL=postgres://extractor_user:strongpassword123@db:5432/extractor_db
    restart: unless-stopped

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=extractor_db
      - POSTGRES_USER=extractor_user
      - POSTGRES_PASSWORD=strongpassword123
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U extractor_user -d extractor_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:6
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
